h1,h2,h3,h4,h5,h6 {
	color:skyblue; 
    font-family:"Merriweather"; 
}
body {
	background-color: black;
	color:white;
}
p{
	color:white;
    font-family:"Barlow";
	
}

*{
	
	background-color: black;
	color:white;
}

li{
	color:white;
	list-style:none;
	margin:15px;
}

header {
	display:flex;
}

header nav ul{
     display:flex;	
	 margin-left:350px;
	 font-size:20px;
}

header nav ul li a{
	color:yellow;
	text-decoration:none;
}

section.meenu div{
	margin-top:250px;
	font-size:30px;
	margin-left:70px;
	color:#decaf8;
	
	
}


section.meenu img {
	margin-left:1050px;
	margin-top:-250px;
	width:300px;
	height:600px;
}



 
 img{
	 width:30px;
	 
 }
 
 section.introduction > div {
	flex: 1 0 0;
 }
 
 .introduction{
	 display:flex;
	 flex-wrap: nowrap;
	 flex-direction:row;
	 color:#faf5df;
 }
 section {
	 text-align: center;
 }	 